.associados_container {
    width: 100%;
    padding: 0;
    margin-top: 9em;
}

.associados_container h1{
    text-align: center;
}

.associados_disco, .associados_spotify{
    display: flex;
    align-items: center;
    padding: 0 8em;
}

.associados_button{
    width: 7em;
    padding: 12px;
    border: none;
    border-radius: 2em;
    color: #fff;
    background-color: var(--main-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.associados_button:hover{
    cursor: pointer;
    background-color: var(--back-color); 
    color: #fff;
}

.associados_spotify{
    margin-bottom: 4em;
}
.associados_spotify img{
    width: 16em;
    padding: 0 5em 0 6em;
}