/* instalar a extensão css modules */
.header{
    display: flex;
    justify-content: space-around;
    padding: 17px;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    color: rgb(245, 245, 239);
    background-color: var(--main-color);
}

.menu{
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
    font-weight: 450;
}

.linkmenu{
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.linkmenu:hover{
    color: var(--light-color);
    cursor: pointer;
}